#ai_helper_chat_submit {
  /* 右寄せ */
  float: right;
}

#ai_helper_chat_form p {
  margin: 0;
}

#aihelper-chat-conversation {
  /* チャットのスクロール */
  overflow-y: auto;
  max-height: 500px;
  padding: 5px;
}

#aihelper-chat-conversation div.aihelper-message {
  border-top: 1px solid #ccc;
  padding-top: 1px;
}

#aihelper-chat-conversation div.aihelper-message pre {
  white-space: pre-wrap;
  margin-top: 0;
}

.ai-helper-loader {
  width: 60px;
  height: 10px;
  -webkit-mask: radial-gradient(circle closest-side,#000 94%,#0000) left/20% 100%;
  background: linear-gradient(#000 0 0) left/0% 100% no-repeat #ddd;
  animation: l17 2s infinite steps(6);
  margin: 0 auto
}
@keyframes l17 {
    100% {background-size:120% 100%}
}

#aihelper-chat-conversation ul, #aihelper-chat-conversation ol {
  padding: 5px;
  margin: 0;
}
#aihelper-chat-conversation ul li{
  list-style-type: disc;
  padding: 0;
  margin-left: 10px;
}
#aihelper-chat-conversation ol li{
  padding: 0;
  margin-left: 10px;
}

#aihelper-chat-conversation p {
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
}

.aihelper-header {
  position: relative;
}

.aihelper-header {
  position: relative;
}

.aihelper-hamburger {
  cursor: pointer;
  padding: 8px;
  display: block;
  z-index: 2;
}

.aihelper-hamburger span {
  display: block;
  width: 16px;
  height: 2px;
  background: #333;
  margin-bottom: 3px;
  transition: all 0.3s;
}

/* 最後の要素のマージンを0に */
.aihelper-hamburger span:last-child {
  margin-bottom: 0;
}

.aihelper-dropdown-menu {
  display: none;
  position: absolute;
  width: 200px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 1;
}

.aihelper-dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aihelper-dropdown-menu li {
  margin-bottom: 10px;
}

.aihelper-dropdown-menu a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.aihelper-dropdown-menu a:hover {
  color: #666;
}

/* アクティブ時のX変形を調整 */
.aihelper-hamburger.active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.aihelper-hamburger.active span:nth-child(2) {
  opacity: 0;
}

.aihelper-hamburger.active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}