
  <% @conversation.messages.each do |message| %>
    <div class="aihelper-message">
      <strong><%= message.role == 'user' ? @user : message.role %></strong>
      <pre><%= message.content %></pre>
    </div>
  <% end %>
  <% unless @conversation.messages.empty? %>
  <script>
    $('#aihelper-chat-clear').show();
  </script>
  <% else %>
  <script>
    $('#aihelper-chat-clear').hide();
  </script>
  <% end %>


