<% @conversation.messages.each do |message| %>
  <div class="aihelper-message">
    <%if message.role == 'user' %>
      <div class="aihelper-message-user">
        <%= avatar(@user) %>
        <strong><%= link_to_user(@user) %></strong>
      </div>
    <% end %>
    <% if message.role == 'user' %>
      <pre><%= message.content %></pre>
    <% else %>
      <div>
        <%= md_to_html(message.content) %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="aihelper-message">
  <div id="aihelper_last_message"></div>
</div>

<% unless @conversation.messages.empty? %>
  <script>
    ai_helper.setClearButtonVisible(true);
  </script>
<% else %>
  <script>
    ai_helper.setClearButtonVisible(false);

  </script>
<% end %>
<div id="ai-helper-loader-area" style="display: none">
  <div class="ai-helper-loader"></div>
</div>
