
  <% @conversation.messages.each do |message| %>
    <div class="aihelper-message">
      <strong><%= message.role == 'user' ? @user : message.role %></strong>
      <pre><%= message.content %></pre>
    </div>
  <% end %>


