<div id="aihelper-sidebar">
  <h3>
    <%= t(:label_ai_helper) %>
  </h3>
  <form id="ai_helper_chat_form">
    <input type="text" id="ai_helper_chat_input" placeholder="<%= t(:label_chat_placeholder) %>" />
    <input type="submit" value="<%= t(:label_chat_send) %>" />
  </form>
</div>