<div class="ai-helper-wiki-summary-content">
  <div class="ai-helper-summary-header">
    <small><%= l(:ai_helper_text_summary_generated_time, time: format_time(summary.updated_at)) %>
    <%= link_to sprite_icon("reload", l(:button_update)), "#", onclick: "generateWikiSummaryStream(); return false;"%>
    </small>
  </div>
  <div class="ai-helper-summary-body">
    <%= md_to_html(summary.content) %>
  </div>
  <hr/>
</div>
